.contenedor-detail{
    background-color: #9c89b8;
   background-size: cover;
   width: 100vw;
   height: 100vw;
    
}

.imagen-loader{
    border-radius: 900px;

}
                
.contenedor-info{   
    display: grid;
    grid-template-columns: 1fr 1fr;    
    height: 500px;
    width: 800px;
    justify-content: center;
    align-items: center;
    padding-left: 20%;
    padding-top: 5%;
}

.imagen-detail{
 grid-column: 1;
}

.items-info{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    row-gap: 50px;
    grid-column: 2;
    background-color: #f0a6ca;
}
.table{
    background-color: #f0a6ca;
    border-radius: 30px;
    width: 500px;
    justify-content: right;
    margin-left: 100px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.it{
   
}

.volver{
    background-color: #03045e;
    color: #fff;
    list-style: none;
   text-align: center;
    font-size: 16px;
    padding: 5px 30px 5px 10px;
    text-align: center;
    height: 40px;
    border-radius: 20px;
    margin-top: 20px;
    
}

.rigth{
    text-align: right,
    
}